[Unit]
Description=NFC manager

[Service]
Type=simple
ExecStart=/usr/bin/nfc-manager-daemon --daemon
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
