[Unit]
Description=NFC manager
After=system-server.service
Requires=system-server.service

[Service]
Type=simple
ExecStart=/usr/bin/nfc-manager-daemon --daemon
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
